/* Custom Font */
@font-face {
    font-family: Chubby Creato;
    src: url(CreatoDisplay-Bold.otf);
}

/* Font and alignment for the button */
.button1 {
    text-align: center;
    /* You can read what this does, duh */

    color: white;
    /* uhhh do I need to tell you what this does... */

    font-family: Chubby Creato;
    font-size: 64px;
    /* Custom Font with Size */

    display: flex;
    justify-content: space-evenly;
    /* Centering the buttons */
}

/* Border for the button */
.button1border {
    border: 4px;
    border-style: solid;
    border-radius: 4px;
    /* Informations about the borders */

    margin-bottom: 34px;
    padding-left: 12px;
    padding-right: 12px;
    /* Used to seperate the border with the text */

    transition: 0.2s;
    /* Transition time for when hovering */

    background-color: rgba(240, 255, 255, 0.315);
    /* Basic BG Color for the button */

    text-decoration: none;
    color: white;
    /* Fixes the text so it's no longer blue */
}

/* Hovering animation for the button */
.button1border:hover {
    transform: scale(1.01);
    background-color: rgba(240, 255, 255, 0.5);
    /* BG and Color change and size change */
}

/* Unusable button, this is set for each part of the site to avoid going on a loop */
.button1borderunusuable {
    border: 4px;
    border-style: solid;
    border-radius: 4px;
    /* Informations about the borders */

    margin-bottom: 34px;
    padding-left: 12px;
    padding-right: 12px;
    /* Used to seperate the border with the text */

    transition: 0.2s;
    /* Transition time for when hovering */

    background-color: rgba(255, 255, 255, 0.5);
    /* Basic BG Color for the button */
}