.part1 {
    text-align: center;
    max-width: 680px;
    margin: auto;
    margin-top: 32px;
    font-family: Fixedsys;

    border-style: solid;
    text-decoration: none;

    padding: 18px;
    letter-spacing: 1px;
}

.funny-cursor{
        cursor: url(colobthree.cur), auto;
}

@font-face {
    font-family: Fixedsys;
    src: url(FSEX300.ttf);
}

.left {
    text-align: left;
}

h1{
    font-size: 46px;
    text-decoration: solid;
}

p {
    font-size: 18px;
}

html {
    background: black;
    color: white;
}

.part1button {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: 32px;
    font-family: Fixedsys;
    border-style: solid;
    text-decoration: none;
    padding: 18px;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    
    font-size: 48px;
}

.flick {
    opacity: 1;
    animation-name: flick;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes flick {

    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: yellow;
    transition: 0.4s;
}

a:hover {
    color: aqua;
}

.dark {
    background-color: black;
}

.bg2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(37, 62, 92, 1) 75%);
}

.bg1 {
    background: linear-gradient(0deg, rgba(255, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(37, 62, 92, 1) 75%);
}

.bgbox {
    background: rgba(0, 0, 0, 0.5);
}

.socialbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.goober {
    transform: scale(1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

.goober:active {
    transform: scale(1.2);
    filter: brightness(1.3);
}

#splash {
    position: fixed; top: 0; left: 0; z-index: 999; width: 100vw; height: 100vh;

    display: flex;
    align-items: center; justify-content: center;

    font-size: 46px;
    font-family: Fixedsys;
    background-color: black;
    text-align: center;
}

#splash.hide {
    opacity: 0; visibility: hidden;
    transform: scale(1.5);
    transition: all 0.5s;
}

.funnybutton {
    border: 4px;
    border-style: solid;
    font-family: Fixedsys;
    margin: auto;
    font-size: 24px;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    background: black;
}

.centerhover {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: auto;
}

.smalluselesstext {
    font-family: Fixedsys;
    font-size: 12px;
    text-align: center;
}

.boxedcenter {
    padding: 100px;
}

.imageborder {
    border: 12px;
    border-style: solid;
    color: white;
}

.pawesomegirl {
    background-color: rgba(255, 0, 255, 0.1);
    border: 16px;
    border-style: solid;
    border-color: rgba(255, 0, 255, 0.1);
    font-family: ComicSansMS;
}

.yellowtored {
    animation-name: yellowtored;
    animation-duration: 600s;
}

@keyframes yellowtored {

    0% {
        color: rgb(255, 255, 255);
    }

    10% {
        color: red;
    }

    100% {
        color: red;
    }
    
}

@font-face {
    font-family: ComicSansMS;
    src: url(ComicSansMS.ttf);
}