h1 {
    font-family: Verdana;
}

.the-box {
    text-align: center;
    font-size: 42px;
    animation: text-float 10s ease-in-out infinite;
}

@keyframes text-float {

    0%{
        transform: scale(1);
        color: rgb(0, 255, 0);
    }

    25%{
        transform: scale(1.1);
        left: 44px;
        transform: rotate(1deg);
        color: green;
    }

    75%{
        transform: scale(1.05);
        left: 46px;
        transform: rotate(-1deg);
        color: rgb(0, 128, 79);
    }

    100%{
        transform: scale(1);
        color: rgb(0, 255, 0);
    }

}

body {
    animation: bg-woah 30s linear infinite;
}

@keyframes bg-woah {

    0%{
        background-color: black;
    }

    25%{
        background-color: rgb(3, 8, 27);
    }

    50%{
        background-color: rgb(3, 5, 26);
    }

    75%{
        background-color: rgb(3, 1, 22);
    }

    100%{
        background-color: black;
    }
}

.boxedup {
    border: 3px;
    border-radius: 12px;
    width: 720px;
    margin: auto;
    height: auto;
    border-style:solid;
    border-color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'Courier New';
    background-color: black;
}

p {
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 2%;
}

.red {
    color: red;
}

.smol-text {
    font-size: 24px;
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'Courier New';
}

.logs {
    border: 3px;
    border-style: solid;
    width: 75px;
    height: 25px;
    border-color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-top: 50px;
    color: white;
    font-family: 'Courier New';
}

.void {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    padding: 25% 0;
    font-size: 64px;
    animation: voidf 10s ease-in-out infinite;
}

@keyframes voidf {

    0%{
        transform: rotate(9deg);
    }

    50%{
        transform: rotate(-8deg);
    }

    100%{
        transform: rotate(9deg);
    }
}