.flashing {
    color: white;
    animation: flashing 2s infinite step-start;
}

@keyframes flashing {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}